.conatiner{
    width:100vw;
    height:100vh;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom:1px rgb(206, 204, 204) solid;
    border-top:1px rgb(206, 204, 204) solid;
}

.logo{
    color:black;
    font-size: 25px;
    font-weight:bold;
}

.search-bar>input{
  height:40px;
  min-width:300px;
  border:2px rgb(206, 204, 204) solid;
  border-radius: 10px;
}

.main{
    display:flex;
    padding:10px;
    gap:20px;
}


.sidebar{
    display:block;
    padding-left:10px;
    border-radius:0.5rem;
    width:15rem;
    border:1px solid #f3b38f;
    height:70%;
    color:blue;
}

.sidebar>p{
    background:rgb(243, 245, 245);
    padding-right:10px;
    padding-left:5px;
    height:30px;
    display:flex;
    align-content:center;
    padding-top:10px;
}

.main{
    display:flex;
    align-items:baseline;
    padding:10px;
    /* justify-content: center; */
    gap:20px;
}


.right{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:100%;
}

#title{
    height:2rem;
    width:30%;
}

#body{
    height:200px;
    width:90%;
}

#tags-field{
    height:2rem;
    width:25%;
}


.tag-field{
    display: flex;
    width:100%;
    gap:20px;
}

button{
    width:40%;
    background-color:#FC6611;
    border: none;
    border-radius: 10px;
    color:white;
    font-weight:700;
    padding-top: 5px;
    padding-bottom: 5px;
}

.question{
    display:flex;
    gap:20px;
    border:1px rgb(206, 204, 204) solid;
    border-radius: 1rem;
    padding-left: 5px;
    padding-right: 10px;
    width:90%;
    box-shadow:3px 2px 2px rgb(206, 204, 204) 

}

.statistics{
    display:flex;
    flex-direction: column;
    width:10%;
    align-items: center;
    justify-content: center;
    font-size:small;
    font-weight:bold;
}

.content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;  
}

.comment-field{
    display:flex;
    gap:20px;
    align-items: baseline;
}
.tags-and-username{
    display:flex;
    gap:30px;
    justify-content: space-evenly;
}
.username{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-question{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
    padding-top:30px;
    border:1px rgb(206, 204, 204) solid;

}

.tag{
    display:flex;
    gap:20px;
    color:white;
}

#tag{
    background-color: #E58A7B;
    padding:3px;
}

@media (max-width: 600px) {
    .main{
        display:flex;
        flex-direction:column;
    }
    .sidebar{
        width:250px;
    }
    .question{
        display:flex;
        flex-direction: column;

    }
  }