
<div class="container">
    <div class="signup">
        <div class="signup1">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <h4 class="title"> SIGN UP</h4>
                <input type="text" name="fullname" placeholder="Enter Fullname" formControlName="Name">
                <p class="error" *ngIf="!form.get('Name')?.valid && form.get('Name')?.touched">*Full Name Required</p>

                <input type="text" name="input" placeholder="Enter Email" formControlName="Email">
                    <p class="error" *ngIf="!form.get('Email')?.valid && form.get('Email')?.touched">*Email Required</p>

                <input type="password" name="input" placeholder="Enter Password" formControlName="Password">
                    <p class="error" *ngIf="!form.get('Password')?.valid && form.get('Password')?.touched">*Password Required</p>

                <button> Sign Up </button>
                <p (click)="signin()">Sign In</p>
            </form>
            
        </div>
        <div class="error">
            <p>{{this.error}}</p>
        </div>
       

        <div class="signup2">
           <!-- <img src="../../../../../assets/pictures/Mobile login-rafiki.svg" alt=""> -->
        </div>
       
        
    </div>
   
</div>