<div class="container">
  <div class="navbar">
    <div class="logo">
      <h4>StackClone</h4>
    </div>
    <div class="search-bar">
      <input type="search" placeholder="Search" />
    </div>
    <div class="profile">
      <p (click)="signOut()">SignOut</p>
    </div>
  </div>
  <div class="main">
    <div class="sidebar">
      <p>Answered Questions</p>
      <p>Unanswered Questions</p>
      <p>Most Answered Questions</p>
      <p (click)="profile()">Go to Profile</p>
      <p (click)="addOrUpdate()">Add Question</p>
      <p (click)="home()">Home</p>
      
    </div>

    <div class="right">
      <div class="question" *ngIf="question | async as quest">
        <div class="content">
          <h3>{{ quest.Title }}</h3>
          <p style="font-size: 20px">{{ quest.Body }}</p>
          <div class="answers">
            <div class="All-answers">
              <div class="answer" *ngFor="let ans of answer">
                <div class="ans">
                  <div class="statistics">
                    <div class="up" (click)="upvoteAnswer(ans.Answer_id)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="2em"
                        viewBox="0 0 512 512"
                      >
                        <path
                          d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
                        />
                      </svg>
                    </div>
                    <p>{{ ans.Votes }}</p>
                    <div class="down" (click)="downvoteAnswer(ans.Answer_id)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="2em"
                        viewBox="0 0 512 512"
                      >
                        <path
                          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                        />
                      </svg>
                    </div>
                  </div>

                  <div>
                    <p style="font-weight: 550">{{ ans.Title }}</p>
                    <p>{{ ans.Body }}</p>
                  </div>
                </div>
                <div class="comment-field">
                    <h5>Comments</h5>
                    <div class="Comments" *ngFor="let comm of comments | async">
                        
                        <p>{{ comm.Body }}</p>
                      </div>

                  <form
                    id="form"
                    (ngSubmit)="addComment(ans.Answer_id)"
                    [formGroup]="form1"
                  >
                    <input
                      type="text"
                      name="input"
                      style="width: 80%; height: 30px"
                      placeholder="Enter Your Comment"
                      formControlName="Body"
                    />
                    <p class="error" *ngIf="!form.get('Body')?.valid && form.get('Body')?.touched">*Text is Required</p>
                    <button (click)="getComment(ans.Answer_id)">
                        Show Comment
                      </button>
                  </form>
                 
                </div>
                
              </div>
              <div class="answer-question">
                <form id="form" (ngSubmit)="onSubmit()" [formGroup]="form">
                  <h4 class="title">Answer Question</h4>
                  <input
                    type="text"
                    name="input"
                    style="width: 80%; height: 30px"
                    placeholder="Enter Title of Your Answer"
                    formControlName="Title"
                  />
                  <p class="error" *ngIf="!form.get('Title')?.valid && form.get('Title')?.touched">*Title is Required</p>

                  <input
                    type="text"
                    name="input"
                    style="width: 80%; height: 70px"
                    placeholder="Enter Your Answer"
                    formControlName="Body"
                  />
                  <p class="error" *ngIf="!form.get('Answer is Required')?.valid && form.get('Answer is Required')?.touched">*Answer is Required is Required</p>

                  <button>Enter to Add Answer</button>
                </form>
              </div>
            </div>
          </div>

          <div class="tags-and-username">
            <div class="tag">
              <p id="tag">Tag1</p>
              <p id="tag">Tag2</p>
            </div>
            <div class="username">
              <p>@CodeForLife</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
