<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Congratulations <%=name%> Your answer has been accepted, visit site to see it</h2>
    <img src="https://img.freepik.com/free-vector/cute-woman-man-dancing-with-confetti-decoration_24640-46480.jpg?w=740&t=st=1687417734~exp=1687418334~hmac=0f812dda6f2128407c03366e04042a07653e351da840d4c4fae9080cb25e6bb0" alt="">
</body>
</html>