<div class="container">
    <div class="navbar">
        <div class="logo">
            <h4>StackClone</h4>
        </div>
        <!-- <div class="search-bar">
            <button>Sign Up</button>
        </div> -->
        <div class="profile">
            <button (click)="signup()">Sign Up</button>
            <button (click)="signin()">Sign In</button>
        </div>
    </div>
    <div class="main">
        <div class="welcome-note">
            <p id="hero">Discover the Potential <br> of Developers</p>
            <p id="ans">Ask, Answer, Learn and <br>Network</p>
            <button (click)="signup()">Start Now</button>
        </div>
    </div>
    <div class="footer">
        <div class="about-us">
            <p>About Us</p>
        </div>
        <div class="socials">
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Twitter</p>
            <p>linkedIn</p>
        </div>
    </div>
</div>
