 <div class="container">
    <div class="navbar">
        <div class="logo">
            <h4>StackClone</h4>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Search">
        </div>
        <div class="profile">
            <p>Name</p>
        </div>
    </div>
    <div class="main">
        <div class="left" >
            
    </div>

    <div class="right">
        <div class="question" *ngFor="let question of questions | async" >
        
            <div class="content" >
              <h3 (click)="goToOneQuestion(question.Id)">{{question.Title}}</h3>  
                <p style="font-size:20px;">{{question.Body}}</p>
                <div class="tags-and-username">
                    <div class="tag" >
                        <p id="tag">{{question.Tags}}</p>
                        <p id="tag"></p>
                    </div>
                    <div class="username">
                        <p>@CodeForLife</p>
                    </div>
                    <div>
                        <button (click)="deleteQuestion(question.Id)"> Delete Question</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div> 
