<div class="container">
    <div class="navbar">
        <div class="logo">
            <h4>StackClone</h4>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Search">
        </div>
        <div class="u-name">
            <p>Name</p>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <div class="sidebar">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic consequuntur impedit nihil. Earum voluptas rem similique. Non vitae hic esse itaque voluptas eum, ipsum quidem in alias, maiores, nostrum commodi?
                </p>
            </div>
            <div class="profile">
                <div profile-pic>
                    <img src="" alt="">
                </div>
                <div class="user-details">
                    <h3>Your Profile</h3>
                    <img src="" alt=" Your image ">
                    <p>Username:</p>
                    <p>Title:</p>
                    <p>About Me:</p>
                </div>
            </div>
        </div>
    
        
        <form class="right" (ngSubmit)="onSubmit()" [formGroup]="form">
            
            <div class="details">

                <p>Enter Picture URL:</p>
                <input type="text" id="pic" formControlName="Picture">

                <p>Username: </p>
                <input type="text" id="username" formControlName="Username">

                <p>Title:</p>
                <input type="text" id="title" formControlName="Title">

                <p>About Me:</p>
                <input type="text" id="aboutme" formControlName="About_me">

                <div class="update-button">
                    <button>Update Profile</button>
                </div>
                
            </div>
        </form>


